h3{
    margin: 0;
}
a{
    color: black;
}
p{
    margin: 0;
    font-family: Poppins;
    font-size: 25px;
    font-weight: bold;
}
body{
    margin: 0;
    margin-bottom: 30px;
}
.header{
    height: 80px;
    background-color: rgb(143, 4, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}
.heading{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.dashboard-division,
.career{
    display: flex;
    justify-content: center;
    margin-top: 120px;

}
.dashboard,
.career-goals{
    width: 90%;
    border-radius: 50px;
    height: fit-content;
    padding: 50px;
    box-shadow: 0 0 20px rgba(228, 103, 228, 0.5);
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    align-items: center;
}

[data-testid="slackProfilePicture"]{
    border-radius: 120px;
}
[data-testid="slackName"],
[data-testid="slackEmail"]{
    font-size: 40px;
    font-weight: bold;
    color: black
}
.available-links{
    margin-top: 25px;
    color: black;
    font-family: Poppins;
}

[data-testid="slackEmail"]{
    font-size: 20px;
}
.links{
    display: flex;
    flex-direction: column;
    row-gap: 0;
}

[data-testid="hngLink"]:hover,
[data-testid="keywordLink"]:hover,
[data-testid="scrapeanywebLink"]:hover{
    font-weight: bold;
    width: fit-content;
}

.clock-container {
    text-align: center;
    color: black
}

[data-testid="currentTimeUTC"] {
    font-size: 45px;
    font-weight: bold;
    font-family: Poppins;
}

[data-testid="currentDate"],
[data-testid="currentDay"] {
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins;

}

.career-goals
{
    padding: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    
}

.goals{
    font-size: 20px;
    margin-top: 10px;
    align-items: justify;
}

@media only screen and (max-width: 767px) {
    .heading{
        font-size: 20px;
    }

    .header{
        height: 60px;
    }
    .dashboard-division{
        margin-top: 20px;
        
    }
    .dashboard, .career-goals{
        display: flex;
        flex-direction: column;
        width: fit-content;
        box-shadow: none
    }
    
    [data-testid="slackName"]{
    font-size: 22px;
    }
    [data-testid="slackEmail"]{
        font-size: 13px;
    }
    .information{
        margin-top: 20px;
    }
    .clock-container{
        margin-top: 20px;
    }
    .goals{
        font-size: 15px;
        text-align: justify;
    }
    .career{
        margin-top: 0;
    }
}